@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

:root {
    --orange: #f78b00;
    --blue: #00285f;
    --gray: #ededed;
}

html, body {
    width: 100%;
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 500px;
    background: var(--orange);
}

.content {
    max-width: 1000px;
    min-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

nav {
    width: 100%;
    height: 125px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.brand {
    font-size: 24px;
    color: var(--blue);
    cursor: pointer;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav ul li {
    list-style: none;
    padding: 10px;
    cursor: pointer;
}

nav ul li a {
    color: var(--blue);
    text-decoration: none;
}

nav ul li a:hover {

color: #00285f83;
}

nav ul button {
    border: 1px solid var(--blue);
    background: transparent;
    padding: 8px 40px;
    cursor: pointer;
    margin-left: 30px;
    color: var(--blue);
    font-weight: bold;
    border-radius: 4px;
}

nav ul button:hover {
    transition: background, color 0.6s;
    background: var(--blue);
    color: white;
}

.content .header-block {
    max-width: 1000px;
    min-height: 300px;
    height: 450px;
    background: var(--blue);
    border-radius: 8px;

    box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5);

    position: relative;
    z-index: 10;
    padding: 10px;
}

.header-block img {
    width: 50%;
    position: absolute;
    right: 2%;
    bottom: 2%;
}

.header-block .text {
    position: absolute;
    bottom: 30%;
    left: 15%;
}

.header-block .text h2 {
    color: white;
    margin-bottom: 20px;
    text-align: right;
    transform: translateX(-20px);
    transition: transform 0.5s;
}

.header-block .text p {
    max-width: 280px;
    color: white;
    text-align: right;
    transform: translateX(-20px);
    transition: transform 0.4s;
}